$color-platinum: #e3e5e8;
$color-white: #ffffff;
$color-isabelline: #efefef;
$color-payne-grey: #495e79;
$color-dark-sea-green: #76c894;
$color-cool-grey: #7f97b1;
$color-charcoal: #3a4b61;
$color-old-lavender: #737373;
$color-timberwolf: #d8d8d8;
$color-rifle-green: #404040;
$color-slate-gray: #6d7e94;
$color-white-smoke: #f5f5f5;
$color-white-smoke-disabled: #cccccc;
$color-black: #000000;
$color-liver: #505050;
$color-tufts-Blue: #2d78bc;
$color-manatee: #979797;
$color-carrot-orange: #f7981d;
$color-true-Blue: #006ac9;
$color-aint-Patrick-Blue: #293688;
$color-bright-cerulean: #27ade4;
$color-dark-midnight-blue: #023563;
$color-pastel-gray: #c9c9c9;
$color-medium-electric-blue: #004a97;
$color-fire-engine-red: #cb2026;
$color-taupe: #383838;
$color-dark-coral: #cc5b4c;
$color-snow: #fcfcfc;
$color-outer-Space: #454545;
$color-gainsboro: #dddddd;
$color-medium-jungle-green: #2b2b2b;
$color-outer-Space: #4a4a4a;
$color-gainsboro: #dce0e2;
$color-davy-grey: #5b5b5b;
$color-unmellow-Yellow: #f0f778;
$color-mauvelous: #ea95ae;
$color-harvard-crimson: #d0011b;
$color-rackley: #6784a5;
$color-gainsboro: #dedede;
$color-rackley: #597fa8;
$color-gainsboro: #dbdbdb;
$color-coral-pink: #ff8e7f;
$color-bittersweet: #ff7260;
$color-outer-Space: #464646;
$color-medium-jungle-green: #2c2c2c;
$color-border-gray: #cccccc;
