# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: munireg
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: ~
    mailer_port: ~

    banquest_source_key: Io6AFrH7mxlIL9Bl0U2Xm9trwuIWKz5a
    banquest_source_pin: ~
    banquest_sandbox: true

    contact_mail: info@munireg.com
    email_sender_from_address: ~

    knp_snappy_pdf: /usr/bin/wkhtmltopdf

    anet_login_id: 'anet_login_id'
    anet_transaction_key: 'anet_transaction_key'

    # A secret key that's used to generate certain security-related tokens
    secret: d879b36a7ab37b6b10a1adbdd84f4dadf5428761
