.table-custom-field-options {
    .listing-data {
        padding-left: 15px;
        padding-right: 15px;

        .data-table {
            th {
                color: #495e79;
            }
        }
    }
}