@import "../globals/variables";
@import "../globals/mixins";

#security-reset-password {
	background-image: url('../../images/app/security/background_login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	text-align: center;
	padding: 5%;
	&>form {
		background-color:transparent!important;
	}
	div.form-body {
		width: 90%;
		height: auto;
		max-width: 516px;
		margin: auto;
		background-color: rgba(255,255,255,0.3);
		-webkit-box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.75);
		box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.75);
		p {
			font-family: $font-family-demi-bold;
			text-align: center;
			width: 100%;
			background: transparent;
			border: none;
			border-bottom: none;
			padding: 1% 2%;
			margin: 1% 0% 4% 0%;
			color: $color-white;
		}

		div.LogoSecurity {
			padding: 20px;
			img {
				width: 100%;
				height: auto;
				max-width: 150px;
			}
		}

		div.textfield {
			padding: 40px;
			@media (max-width: $breakpoint-mobile) {
				padding: 15px;
			}
			
			.textfield-label {
				color: $color-primary;
			}
			
			.textfield-label:after {
				display: none;
			}

			input[type=email]{
				margin: 10px 0 20px;
				padding: 5px 0 10px 0;
			}

			.textfield-error{
				position: relative;
				left: inherit;
				top: inherit;
				right: 0;

				ul li{
					display: block;
					box-sizing: border-box;
					padding: 10px 0 8px;
					background-color: rgba(255,255,255,0.65);
					width: 100%;
				}
			}
		}
		div.form-footer {
			padding: 0 15px 20px 15px;
			button {
				display: block;
			}
		}

		div.create-account {
			background-color: rgba(255,255,255,0.2);
			width: 100%;
			padding: 3%;
			label {
				display: none!important;
			}
			text-align: center;
			font-family: $font-family-demi-bold;
			color: $color-white;
			font-size: 16px;
			span {
				font-family: inherit;
				color: inherit;
				font-size: inherit;
			}
			a {
				font-family: $font-family-bold;
				color: inherit;
				font-size: inherit;
				font-weight: bold;
			}
		}

		.alert-danger{
			background-color: rgba(245, 245, 245, 0.75);

			strong{
				background-color: transparent;
			}
		}
	}
	/*MOBILE STYLES - login-content*/
	@media (max-width: $breakpoint-mobile) {
		&>form {
			div.form-body {
				height: 92vh;
				display: block;
				position: relative;
				.LogoSecurity {
					text-align: center;
					&>img {
						display: block;
						max-width: 150px;
						margin: 0px auto;
					}
				}
				div.alert-danger {
					width: 100%;
					strong {
						font-size: 13px;
						background-color: transparent;
					}
				}
				div.textfield {
					margin-bottom: 20px;
					label {
						margin-bottom: 10px;
					}
				}
				div.forgot-pass {

				}
				div.form-footer {
					button.btn-green {
						width: 100%;
						padding: 20px 25px;
						max-width: 100%;
					}
				}
				.create-account {
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					padding: 7% 3% !important;
					margin-bottom: 0px;
				}
			}
		}
	}
}

.form-security {
	.alert-danger {
		strong {
			color: $color-dark-coral;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.4);
			padding: 10px 5px;
			display: block;
			margin: 0px -10px;
		}
	}
	.textfield-error {
		ul {
			margin: 0px;
			padding: 0px;
			li {
				list-style: none;
				color: $color-dark-coral;
				font-size: 15px;
				font-weight: bold;
				text-align: center;
				padding: 10px 0px;
				display: block;
				margin-left: 0px;
			}
		}
	}
}
